# Calypso / F5 Guardrail
CALYPSOAI_URL=https://www.us1.calypsoai.app/
CALYPSOAI_TOKEN=Your-calypsoai-token
# Prefer Project mode, for example 0199dc56-934d-707f-bfae-e8bacbf2111c
CALYPSOAI_PROJECT_ID=Your-calypsoai-project-id
# Provider, for example deepseek-real-charge in the calypsoai connection
DEFAULT_PROVIDER=Your-calypsoai-provider
# Sliding window config
SLIDING_WINDOW_MAX_TURNS=8
SLIDING_WINDOW_MAX_CHARS=8000
#Hugging face mode download home directory,for example /Users/j.lin/Documents/F5-Guardrail-Test/huggingface
HF_HOME=Your-hugging-face-home-directory
# Proxy that for downloading Hugging Face models，not for connectingCalypsoAI
HF_PROXY=http://127.0.0.1:8010
# Hugging face token,for example hf_bLMNAAgnuocsfsdfdfsdfKcVkLSdfsfsdkbgS
HF_TOKEN=Your-hugging-face-token
